# Ideas y pruebas de mini proyectos

In [17]:
import pandas as pd
import requests
import openpyxl

## Análisis del mercado inmobiliario de Madrid

#### 1. ¿Cuál es el objetivo del proyecto? 

    Realizar un análisis del mercado inmobiliario de Madrid, y generar predicciones de los precios. 

#### 2. ¿Cuáles serían tus fuentes de datos? 

    Archivo csv: Madrid_Housing.csv. 

#### 3. ¿Qué herramientas quieres probar o practicar?

    Uso de polars para el tratamiento y limpieza de datos. Uso de modelos de machine learning para las predicciones. 

#### 4. ¿Qué skills nuevas te gustaría incorporar en el proceso? 

    - Organización del proyecto, mediante un correcto establecimiento de las tareas a realizar en los tiempo sugeridos
    - Mejorar la comuncación de resultados de manera desarrollada, así como la visualización.
    -  Uso de mapas con herramientas de visualización. 

Enlace a idea del proyecto desarrollada en knime: https://bit2brain.com/analisis-datos-viviendas-madrid-knime/. Otra opción es realizarlo en knime también, y realizar una comparación, entre realizarlo en código (uso de python, etc, y directamente en knime, a golpe de click).

In [2]:
data = pd.read_csv("Madrid_Housing.csv")
data

,Rooms,Type,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Regionname,Propertycount,Price
0,3,t,Inmobiliaria Grupo Fincasa,03-09-2016,13.5,28014,3.0,2.0,1.0,303.0,225,2016.0,Cuzco,3464,840000
1,2,h,Inmobiliaria MetroCuadrado,03-09-2016,3.3,28021,2.0,1.0,0.0,120.0,82,1900.0,Ciudad Universitaria,3280,1275000
2,2,h,Alfa Inmobiliaria,03-09-2016,3.3,28016,2.0,1.0,0.0,159.0,inf,NaN,Chamberí,3280,1455000
3,4,h,Inmobiliaria Barreras,03-09-2016,6.4,28031,3.0,2.0,4.0,853.0,263,1930.0,Latina,2211,2000000
4,3,h,Inmobiliaria Fincas Asesoria,03-09-2016,6.4,28004,3.0,2.0,2.0,208.0,inf,2013.0,Vicálvaro,2211,1110000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27109,3,h,Inmobiliaria NuevaVida,30-09-2017,22.7,28013,3.0,1.0,6.0,569.0,130,1959.0,Ciudad Universitaria,11806,627500
27110,3,u,Inmobiliaria Don Piso,30-09-2017,12.0,28004,3.0,1.0,1.0,NaN,105,1990.0,Latina,21650,475000
27111,4,h,Inmobiliaria Zome,30-09-2017,20.6,28032,4.0,2.0,2.0,NaN,225,1995.0,Salamanca,5833,591000
27112,3,h,Inmobiliaria MetroCuadrado,30-09-2017,22.2,28028,3.0,2.0,1.0,544.0,NaN,NaN,Paseo de la Castellana,4054,780500
27113,4,h,Inmobiliaria Bankia,30-09-2017,16.5,28027,4.0,2.0,6.0,813.0,140,1960.0,Embajadores,2474,791000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27114 entries, 0 to 27113
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rooms          27114 non-null  int64
 1   Type           27114 non-null  object
 2   SellerG        27114 non-null  object
 3   Date           27114 non-null  object
 4   Distance       27113 non-null  float64
 5   Postcode       27114 non-null  int64
 6   Bedroom        20678 non-null  float64
 7   Bathroom       20672 non-null  float64
 8   Car            20297 non-null  float64
 9   Landsize       17873 non-null  float64
 10  BuildingArea   10543 non-null  object
 11  YearBuilt      11985 non-null  float64
 12  Regionname     27114 non-null  object
 13  Propertycount  27114 non-null  int64
 14  Price          27114 non-null  int64
dtypes: float64(6), int64(4), object(5)
memory usage: 3.1+ MB

## Análisis del PIB, IPC y tasas de desempleo

#### 1. ¿Cuál es el objetivo del proyecto? 

    Análisis de la evolución de los siguientes indicadores económicos: PIB, IPC, tasa de desempleo; y explicar su evolución (ley de Okun y curva de Phillips), así como realizar proyecciones a futuro. 

#### 2. ¿Cuáles serían tus fuentes de datos? 
    
    Api del IMF: 

#### 3. ¿Qué herramientas quieres probar o practicar?

    Uso de polars para el tratamiento de datos, herramientas de visualización como PowerBI, Tableau..., uso de R para análisis estadísticos. 

#### 4. ¿Qué skills nuevas te gustaría incorporar en el proceso? Enuméralas: pueden ser técnicas (manejar APIs, visualización, análisis estadístico, uso de mapas, machine learning…) o habilidades de gestión (planning, comunicación de resultados, trabajo en equipo…)

    Organización del proyecto, mediante un correcto establecimiento de las tareas a realizar en los tiempo sugeridos; mejorar la comuncación de resultados de manera desarrollada.

Links: https://datasupport.imf.org/knowledge?id=knowledge_category&sys_kb_id=b849dc6b47294ad8805d07c4f16d4311&category_id=9959b2bc1b6391903dba646fbd4bcb6a
https://data.imf.org/en/dashboards/weo%20dashboard

In [ ]:
# información sobre los códigos de los indicadores del IMF para usarlos en la API
pd.read_excel("IFS Indicator Mapping.xlsx")

,IFS Code,IFS Indicator,IMF Data Database,IMF Data Code
0,[CountryCode].PCPI_IX.[FrequencyCode],PCPI_IX,CPI,[CountryCode].CPI._T.IX.[FrequencyCode]
1,[CountryCode].PCPI_PC_PP_PT.[FrequencyCode],PCPI_PC_PP_PT,CPI,[CountryCode].CPI._T.POP_PCH_PA_PT.[FrequencyC...
2,[CountryCode].PCPI_PC_CP_A_PT.[FrequencyCode],PCPI_PC_CP_A_PT,CPI,[CountryCode].CPI._T.YOY_PCH_PA_PT.[FrequencyC...
3,[CountryCode].PCPIHA_IX.[FrequencyCode],PCPIHA_IX,CPI,[CountryCode].HICP._T.IX.[FrequencyCode]
4,[CountryCode].LWR_IX.[FrequencyCode],LWR_IX,LS,[CountryCode].WR.IX.[FrequencyCode]
...,...,...,...,...
199,[CountryCode].NFID_NSA_XDC.Q,NFID_NSA_XDC,QNEA,[CountryCode].N111N.V.NSA.XDC.Q
200,[CountryCode].NCGGC_R_NSA_XDC.Q,NCGGC_R_NSA_XDC,QNEA,[CountryCode].P32_S13.Q.NSA.XDC.Q
201,[CountryCode].NFIOS_NSA_XDC.Q,NFIOS_NSA_XDC,QNEA,[CountryCode].N1121N.V.NSA.XDC.Q
202,[CountryCode].NFIOS_R_NSA_XDC.Q,NFIOS_R_NSA_XDC,QNEA,[CountryCode].N1121N.Q.NSA.XDC.Q
203,[CountryCode].NFID_R_NSA_XDC.Q,NFID_R_NSA_XDC,QNEA,[CountryCode].N111N.Q.NSA.XDC.Q

In [26]:
# import libraries

import sdmx

 

# retrieve data

IMF_DATA = sdmx.Client('IMF_DATA')

data_msg = IMF_DATA.data('CPI', key='USA+CAN.CPI.CP01.IX.M', params={'startPeriod': 2000, 'endPeriod': 2025})

 

# convert to pandas

cpi_df = sdmx.to_pandas(data_msg)

pd.DataFrame(cpi_df)

xml.Reader got no structure=… argument for StructureSpecificData

                                                                                                                                                                     value
COUNTRY INDEX_TYPE COICOP_1999 TYPE_OF_TRANSFORMATION FREQUENCY COMMON_REFERENCE_PERIOD OVERLAP SCALE ACCESS_SHARING_LEVEL SECURITY_CLASSIFICATION TIME_PERIOD
CAN     CPI        CP01        IX                     M         2002A                   OL      0     PUBLIC_OPEN          PUB                     2000-M01      91.700000
                                                                                                                                                   2000-M02      91.400000
                                                                                                                                                   2000-M03      91.900000
                                                                                                                                                   2000-M04      92.100000
                                                                                                                                                   2000-M05      93.000000
...                                                                                                                                                                    ...
USA     CPI        CP01        IX                     M         2010A                   OL      0     PUBLIC_OPEN          PUB                     2025-M02     144.334363
                                                                                                                                                   2025-M03     145.044320
                                                                                                                                                   2025-M04     144.592175
                                                                                                                                                   2025-M05     144.894074
                                                                                                                                                   2025-M06     145.143003

[612 rows x 1 columns]

## Recomendador de zapatillas

#### 1. ¿Cuál es el objetivo del proyecto? 

    Crear un recomendador de zapatillas de trail running. 

#### 2. ¿Cuáles serían tus fuentes de datos? 
    
    Web scraping de las webs de los vendedores principales de zapatillas de trail running. (https://www.asics.com/es/es-es/, https://www.lasportiva.com/es/zapatos-trail-running-prodigio-max-hombre-zfrs104 )

#### 3. ¿Qué herramientas quieres probar o practicar?

    Modelos de machine learning. 

#### 4. ¿Qué skills nuevas te gustaría incorporar en el proceso? Enuméralas: pueden ser técnicas (manejar APIs, visualización, análisis estadístico, uso de mapas, machine learning…) o habilidades de gestión (planning, comunicación de resultados, trabajo en equipo…)

    Organización del proyecto, mediante un correcto establecimiento de las tareas a realizar en los tiempo sugeridos; mejorar la comuncación de resultados de manera desarrollada

## Análisis de la Balanza de Pagos de España

#### 1. ¿Cuál es el objetivo del proyecto? 

    Análisis de la balanza de pagos de España (pendiente definir exactamente el qué). 

#### 2. ¿Cuáles serían tus fuentes de datos? 
    
    Api del BDE: https://www.bde.es/webbe/es/estadisticas/recursos/api-estadisticas-bde.html. Para acceder a los nombres/códigos de las series: https://app.bde.es/bie_www/bie_wwwias/xml/Arranque.html?Idioma=es&CUADRO=be,19,1# 

#### 3. ¿Qué herramientas quieres probar o practicar?

    Pendiente definir

#### 4. ¿Qué skills nuevas te gustaría incorporar en el proceso? Enuméralas: pueden ser técnicas (manejar APIs, visualización, análisis estadístico, uso de mapas, machine learning…) o habilidades de gestión (planning, comunicación de resultados, trabajo en equipo…)

    Organización del proyecto, mediante un correcto establecimiento de las tareas a realizar en los tiempo sugeridos; mejorar la comuncación de resultados de manera desarrollada

In [ ]:
url = "https://app.bde.es/bierest/resources/srdatosapp/listaSeries?idioma=es&series=D_1NBAF472&rango=30M"

In [ ]:
def data(idioma, listado_series, rango_temporal):

    url = f"https://app.bde.es/bierest/resources/srdatosapp/listaSeries?idioma={idioma}&series={listado_series}&rango={rango_temporal}"
    
    response = requests.get(url)

    if response.status_code == 200:
        print("Solicitud exitosa")
    else:
        print(f"Error: {response.status_code}")

    datos = response.json()
    return datos

In [ ]:
datos = data("es", "D_UNFKA0CN", "MAX")
datos

Solicitud exitosa

[{'serie': 'D_UNFKA0CN',
  'descripcion': 'ECONOMÍA MUNDIAL - SERIE DESESTACIONALIZADA CHINA PRODUCTO INTERIOR BRUTO PRECIOS CORRIENTES',
  'descripcionCorta': 'Economía internacional. China. PIB. Precios corrientes. Datos CVEC',
  'codFrecuencia': 'Q',
  'decimales': 3,
  'simbolo': 'B  EUR',
  'informacion': [{'titulo': 'Nombre',
    'descripcion': 'Economía internacional. China. PIB. Precios corrientes. Datos CVEC'},
   {'titulo': 'Descripción',
    'descripcion': 'ECONOMÍA MUNDIAL - SERIE DESESTACIONALIZADA CHINA PRODUCTO INTERIOR BRUTO PRECIOS CORRIENTES'},
   {'titulo': 'Unidades', 'descripcion': 'Billones de euros'},
   {'titulo': 'Decimales', 'descripcion': '3'},
   {'titulo': 'Número de observaciones', 'descripcion': '127'},
   {'titulo': 'Primer valor', 'descripcion': '[1T 1992] 526,280B  EUR'},
   {'titulo': 'Último valor', 'descripcion': '[3T 2023] 31.999,230B  EUR'},
   {'titulo': 'Valor mínimo', 'descripcion': '[1T 1992] 526,280B  EUR'},
   {'titulo': 'Valor máximo', 'descripcion': '[4T 2022] 33.550,790B  EUR'},
   {'titulo': 'Fuente', 'descripcion': 'FMI'}],
  'fechaInicio': '1992-01-01T09:15:00Z',
  'fechaFin': '2023-07-01T08:15:00Z',
  'fechas': ['2023-07-01T08:15:00Z',
   '2023-04-01T08:15:00Z',
   '2023-01-01T09:15:00Z',
   '2022-10-01T08:15:00Z',
   '2022-07-01T08:15:00Z',
   '2022-04-01T08:15:00Z',
   '2022-01-01T09:15:00Z',
   '2021-10-01T08:15:00Z',
   '2021-07-01T08:15:00Z',
   '2021-04-01T08:15:00Z',
   '2021-01-01T09:15:00Z',
   '2020-10-01T08:15:00Z',
   '2020-07-01T08:15:00Z',
   '2020-04-01T08:15:00Z',
   '2020-01-01T09:15:00Z',
   '2019-10-01T08:15:00Z',
   '2019-07-01T08:15:00Z',
   '2019-04-01T08:15:00Z',
   '2019-01-01T09:15:00Z',
   '2018-10-01T08:15:00Z',
   '2018-07-01T08:15:00Z',
   '2018-04-01T08:15:00Z',
   '2018-01-01T09:15:00Z',
   '2017-10-01T08:15:00Z',
   '2017-07-01T08:15:00Z',
   '2017-04-01T08:15:00Z',
   '2017-01-01T09:15:00Z',
   '2016-10-01T08:15:00Z',
   '2016-07-01T08:15:00Z',
   '2016-04-01T08:15:00Z',
   '2016-01-01T09:15:00Z',
   '2015-10-01T08:15:00Z',
   '2015-07-01T08:15:00Z',
   '2015-04-01T08:15:00Z',
   '2015-01-01T09:15:00Z',
   '2014-10-01T08:15:00Z',
   '2014-07-01T08:15:00Z',
   '2014-04-01T08:15:00Z',
   '2014-01-01T09:15:00Z',
   '2013-10-01T08:15:00Z',
   '2013-07-01T08:15:00Z',
   '2013-04-01T08:15:00Z',
   '2013-01-01T09:15:00Z',
   '2012-10-01T08:15:00Z',
   '2012-07-01T08:15:00Z',
   '2012-04-01T08:15:00Z',
   '2012-01-01T09:15:00Z',
   '2011-10-01T08:15:00Z',
   '2011-07-01T08:15:00Z',
   '2011-04-01T08:15:00Z',
   '2011-01-01T09:15:00Z',
   '2010-10-01T08:15:00Z',
   '2010-07-01T08:15:00Z',
   '2010-04-01T08:15:00Z',
   '2010-01-01T09:15:00Z',
   '2009-10-01T08:15:00Z',
   '2009-07-01T08:15:00Z',
   '2009-04-01T08:15:00Z',
   '2009-01-01T09:15:00Z',
   '2008-10-01T08:15:00Z',
   '2008-07-01T08:15:00Z',
   '2008-04-01T08:15:00Z',
   '2008-01-01T09:15:00Z',
   '2007-10-01T08:15:00Z',
   '2007-07-01T08:15:00Z',
   '2007-04-01T08:15:00Z',
   '2007-01-01T09:15:00Z',
   '2006-10-01T08:15:00Z',
   '2006-07-01T08:15:00Z',
   '2006-04-01T08:15:00Z',
   '2006-01-01T09:15:00Z',
   '2005-10-01T08:15:00Z',
   '2005-07-01T08:15:00Z',
   '2005-04-01T08:15:00Z',
   '2005-01-01T09:15:00Z',
   '2004-10-01T08:15:00Z',
   '2004-07-01T08:15:00Z',
   '2004-04-01T08:15:00Z',
   '2004-01-01T09:15:00Z',
   '2003-10-01T08:15:00Z',
   '2003-07-01T08:15:00Z',
   '2003-04-01T08:15:00Z',
   '2003-01-01T09:15:00Z',
   '2002-10-01T08:15:00Z',
   '2002-07-01T08:15:00Z',
   '2002-04-01T08:15:00Z',
   '2002-01-01T09:15:00Z',
   '2001-10-01T08:15:00Z',
   '2001-07-01T08:15:00Z',
   '2001-04-01T08:15:00Z',
   '2001-01-01T09:15:00Z',
   '2000-10-01T08:15:00Z',
   '2000-07-01T08:15:00Z',
   '2000-04-01T08:15:00Z',
   '2000-01-01T09:15:00Z',
   '1999-10-01T08:15:00Z',
   '1999-07-01T08:15:00Z',
   '1999-04-01T08:15:00Z',
   '1999-01-01T09:15:00Z',
   '1998-10-01T08:15:00Z',
   '1998-07-01T08:15:00Z',
   '1998-04-01T08:15:00Z',
   '1998-01-01T09:15:00Z',
   '1997-10-01T08:15:00Z',
   '1997-07-01T08:15:00Z',
   '1997-04-01T08:15:00Z',
   '1997-01-01T09:15:00Z',
   '1996-10-01T08:15:00Z',
   '1996-07-01T08:15:00Z',
   '1996-04-01T08:15:00Z',
   '1996-01-01T09:15:00Z',
   '1995-10-01T09:15:00Z',
   '1995-07-01T08:15:00Z',
   '1995-04-01T08:15:00Z',
   '1995-01-01T09:15:00Z',
   '1994-10-01T09:15:00Z',
   '1994-07-01T08:15:00Z',
   '1994-04-01T08:15:00Z',
   '1994-01-01T09:15:00Z',
   '1993-10-01T09:15:00Z',
   '1993-07-01T08:15:00Z',
   '1993-04-01T08:15:00Z',
   '1993-01-01T09:15:00Z',
   '1992-10-01T09:15:00Z',
   '1992-07-01T08:15:00Z',
   '1992-04-01T08:15:00Z',
   '1992-01-01T09:15:00Z'],
  'valores': [31999.23,
   30803.76,
   28499.66,
   33550.79,
   30927.06,
   29391.95,
   27150.92,
   32589.94,
   29128.81,
   28284.92,
   24920.02,
   29561.88,
   26435.57,
   24834.77,
   20524.48,
   27679.8,
   25104.63,
   24150.26,
   21716.83,
   25880.89,
   23447.43,
   22396.22,
   20203.57,
   23542.87,
   21278.93,
   20195.03,
   18186.77,
   21156.62,
   19101.06,
   18140.82,
   16241,
   19257.29,
   17659.77,
   16854.97,
   15113.79,
   18082.89,
   16548.47,
   15648.96,
   14075.98,
   16777.23,
   15222.27,
   14351.87,
   12944.96,
   15181.2,
   13808.96,
   13132.06,
   11735.76,
   13801.21,
   12656.22,
   11889.59,
   10446.99,
   11930.68,
   10596.37,
   9934.74,
   8750.13,
   10082.58,
   8984.69,
   8386.58,
   7397.92,
   8869.9,
   8246.01,
   7871.18,
   6937.36,
   7866.93,
   6948.21,
   6478.16,
   5715.93,
   6362.16,
   5606.47,
   5267.33,
   4707.89,
   5402.48,
   4804.78,
   4479.31,
   4045.33,
   4673.98,
   4185.5,
   3870.08,
   3454.46,
   3976.74,
   3529.19,
   3253.73,
   2982.55,
   3497.03,
   3125.73,
   2919.48,
   2629.5,
   3171.68,
   2833.33,
   2672.66,
   2408.64,
   2919.43,
   2571.25,
   2404.34,
   2132.99,
   2658.39,
   2305.08,
   2156.77,
   1936.19,
   2507.42,
   2177.56,
   2029.66,
   1804.91,
   2336.15,
   2050.09,
   1916.36,
   1668.91,
   2143.24,
   1860.58,
   1714.75,
   1462.8,
   1845.12,
   1616.41,
   1461.29,
   1211.17,
   1491.33,
   1286.8,
   1148.1,
   937.51,
   1109.59,
   938.58,
   835.7,
   683.46,
   825.48,
   719.26,
   648.43,
   526.28]}]

In [ ]:
datos[0]

{'serie': 'D_UNFKA0CN',
 'descripcion': 'ECONOMÍA MUNDIAL - SERIE DESESTACIONALIZADA CHINA PRODUCTO INTERIOR BRUTO PRECIOS CORRIENTES',
 'descripcionCorta': 'Economía internacional. China. PIB. Precios corrientes. Datos CVEC',
 'codFrecuencia': 'Q',
 'decimales': 3,
 'simbolo': 'B  EUR',
 'informacion': [{'titulo': 'Nombre',
   'descripcion': 'Economía internacional. China. PIB. Precios corrientes. Datos CVEC'},
  {'titulo': 'Descripción',
   'descripcion': 'ECONOMÍA MUNDIAL - SERIE DESESTACIONALIZADA CHINA PRODUCTO INTERIOR BRUTO PRECIOS CORRIENTES'},
  {'titulo': 'Unidades', 'descripcion': 'Billones de euros'},
  {'titulo': 'Decimales', 'descripcion': '3'},
  {'titulo': 'Número de observaciones', 'descripcion': '127'},
  {'titulo': 'Primer valor', 'descripcion': '[1T 1992] 526,280B  EUR'},
  {'titulo': 'Último valor', 'descripcion': '[3T 2023] 31.999,230B  EUR'},
  {'titulo': 'Valor mínimo', 'descripcion': '[1T 1992] 526,280B  EUR'},
  {'titulo': 'Valor máximo', 'descripcion': '[4T 2022] 33.550,790B  EUR'},
  {'titulo': 'Fuente', 'descripcion': 'FMI'}],
 'fechaInicio': '1992-01-01T09:15:00Z',
 'fechaFin': '2023-07-01T08:15:00Z',
 'fechas': ['2023-07-01T08:15:00Z',
  '2023-04-01T08:15:00Z',
  '2023-01-01T09:15:00Z',
  '2022-10-01T08:15:00Z',
  '2022-07-01T08:15:00Z',
  '2022-04-01T08:15:00Z',
  '2022-01-01T09:15:00Z',
  '2021-10-01T08:15:00Z',
  '2021-07-01T08:15:00Z',
  '2021-04-01T08:15:00Z',
  '2021-01-01T09:15:00Z',
  '2020-10-01T08:15:00Z',
  '2020-07-01T08:15:00Z',
  '2020-04-01T08:15:00Z',
  '2020-01-01T09:15:00Z',
  '2019-10-01T08:15:00Z',
  '2019-07-01T08:15:00Z',
  '2019-04-01T08:15:00Z',
  '2019-01-01T09:15:00Z',
  '2018-10-01T08:15:00Z',
  '2018-07-01T08:15:00Z',
  '2018-04-01T08:15:00Z',
  '2018-01-01T09:15:00Z',
  '2017-10-01T08:15:00Z',
  '2017-07-01T08:15:00Z',
  '2017-04-01T08:15:00Z',
  '2017-01-01T09:15:00Z',
  '2016-10-01T08:15:00Z',
  '2016-07-01T08:15:00Z',
  '2016-04-01T08:15:00Z',
  '2016-01-01T09:15:00Z',
  '2015-10-01T08:15:00Z',
  '2015-07-01T08:15:00Z',
  '2015-04-01T08:15:00Z',
  '2015-01-01T09:15:00Z',
  '2014-10-01T08:15:00Z',
  '2014-07-01T08:15:00Z',
  '2014-04-01T08:15:00Z',
  '2014-01-01T09:15:00Z',
  '2013-10-01T08:15:00Z',
  '2013-07-01T08:15:00Z',
  '2013-04-01T08:15:00Z',
  '2013-01-01T09:15:00Z',
  '2012-10-01T08:15:00Z',
  '2012-07-01T08:15:00Z',
  '2012-04-01T08:15:00Z',
  '2012-01-01T09:15:00Z',
  '2011-10-01T08:15:00Z',
  '2011-07-01T08:15:00Z',
  '2011-04-01T08:15:00Z',
  '2011-01-01T09:15:00Z',
  '2010-10-01T08:15:00Z',
  '2010-07-01T08:15:00Z',
  '2010-04-01T08:15:00Z',
  '2010-01-01T09:15:00Z',
  '2009-10-01T08:15:00Z',
  '2009-07-01T08:15:00Z',
  '2009-04-01T08:15:00Z',
  '2009-01-01T09:15:00Z',
  '2008-10-01T08:15:00Z',
  '2008-07-01T08:15:00Z',
  '2008-04-01T08:15:00Z',
  '2008-01-01T09:15:00Z',
  '2007-10-01T08:15:00Z',
  '2007-07-01T08:15:00Z',
  '2007-04-01T08:15:00Z',
  '2007-01-01T09:15:00Z',
  '2006-10-01T08:15:00Z',
  '2006-07-01T08:15:00Z',
  '2006-04-01T08:15:00Z',
  '2006-01-01T09:15:00Z',
  '2005-10-01T08:15:00Z',
  '2005-07-01T08:15:00Z',
  '2005-04-01T08:15:00Z',
  '2005-01-01T09:15:00Z',
  '2004-10-01T08:15:00Z',
  '2004-07-01T08:15:00Z',
  '2004-04-01T08:15:00Z',
  '2004-01-01T09:15:00Z',
  '2003-10-01T08:15:00Z',
  '2003-07-01T08:15:00Z',
  '2003-04-01T08:15:00Z',
  '2003-01-01T09:15:00Z',
  '2002-10-01T08:15:00Z',
  '2002-07-01T08:15:00Z',
  '2002-04-01T08:15:00Z',
  '2002-01-01T09:15:00Z',
  '2001-10-01T08:15:00Z',
  '2001-07-01T08:15:00Z',
  '2001-04-01T08:15:00Z',
  '2001-01-01T09:15:00Z',
  '2000-10-01T08:15:00Z',
  '2000-07-01T08:15:00Z',
  '2000-04-01T08:15:00Z',
  '2000-01-01T09:15:00Z',
  '1999-10-01T08:15:00Z',
  '1999-07-01T08:15:00Z',
  '1999-04-01T08:15:00Z',
  '1999-01-01T09:15:00Z',
  '1998-10-01T08:15:00Z',
  '1998-07-01T08:15:00Z',
  '1998-04-01T08:15:00Z',
  '1998-01-01T09:15:00Z',
  '1997-10-01T08:15:00Z',
  '1997-07-01T08:15:00Z',
  '1997-04-01T08:15:00Z',
  '1997-01-01T09:15:00Z',
  '1996-10-01T08:15:00Z',
  '1996-07-01T08:15:00Z',
  '1996-04-01T08:15:00Z',
  '1996-01-01T09:15:00Z',
  '1995-10-01T09:15:00Z',
  '1995-07-01T08:15:00Z',
  '1995-04-01T08:15:00Z',
  '1995-01-01T09:15:00Z',
  '1994-10-01T09:15:00Z',
  '1994-07-01T08:15:00Z',
  '1994-04-01T08:15:00Z',
  '1994-01-01T09:15:00Z',
  '1993-10-01T09:15:00Z',
  '1993-07-01T08:15:00Z',
  '1993-04-01T08:15:00Z',
  '1993-01-01T09:15:00Z',
  '1992-10-01T09:15:00Z',
  '1992-07-01T08:15:00Z',
  '1992-04-01T08:15:00Z',
  '1992-01-01T09:15:00Z'],
 'valores': [31999.23,
  30803.76,
  28499.66,
  33550.79,
  30927.06,
  29391.95,
  27150.92,
  32589.94,
  29128.81,
  28284.92,
  24920.02,
  29561.88,
  26435.57,
  24834.77,
  20524.48,
  27679.8,
  25104.63,
  24150.26,
  21716.83,
  25880.89,
  23447.43,
  22396.22,
  20203.57,
  23542.87,
  21278.93,
  20195.03,
  18186.77,
  21156.62,
  19101.06,
  18140.82,
  16241,
  19257.29,
  17659.77,
  16854.97,
  15113.79,
  18082.89,
  16548.47,
  15648.96,
  14075.98,
  16777.23,
  15222.27,
  14351.87,
  12944.96,
  15181.2,
  13808.96,
  13132.06,
  11735.76,
  13801.21,
  12656.22,
  11889.59,
  10446.99,
  11930.68,
  10596.37,
  9934.74,
  8750.13,
  10082.58,
  8984.69,
  8386.58,
  7397.92,
  8869.9,
  8246.01,
  7871.18,
  6937.36,
  7866.93,
  6948.21,
  6478.16,
  5715.93,
  6362.16,
  5606.47,
  5267.33,
  4707.89,
  5402.48,
  4804.78,
  4479.31,
  4045.33,
  4673.98,
  4185.5,
  3870.08,
  3454.46,
  3976.74,
  3529.19,
  3253.73,
  2982.55,
  3497.03,
  3125.73,
  2919.48,
  2629.5,
  3171.68,
  2833.33,
  2672.66,
  2408.64,
  2919.43,
  2571.25,
  2404.34,
  2132.99,
  2658.39,
  2305.08,
  2156.77,
  1936.19,
  2507.42,
  2177.56,
  2029.66,
  1804.91,
  2336.15,
  2050.09,
  1916.36,
  1668.91,
  2143.24,
  1860.58,
  1714.75,
  1462.8,
  1845.12,
  1616.41,
  1461.29,
  1211.17,
  1491.33,
  1286.8,
  1148.1,
  937.51,
  1109.59,
  938.58,
  835.7,
  683.46,
  825.48,
  719.26,
  648.43,
  526.28]}

In [ ]:
data("es", "D_1NBAF472", "30M")

Solicitud exitosa

[{'serie': 'D_1NBAF472',
  'descripcion': 'Euribor a un año',
  'descripcionCorta': 'Euribor a un año',
  'codFrecuencia': 'M',
  'decimales': 3,
  'simbolo': '%',
  'informacion': [{'titulo': 'Nombre', 'descripcion': 'Euribor a un año'},
   {'titulo': 'Descripción',
    'descripcion': 'Tipos de interés. De referencia del mercado hipotecario. Euribor a un año.'},
   {'titulo': 'Unidades', 'descripcion': 'Porcentaje'},
   {'titulo': 'Decimales', 'descripcion': '3'},
   {'titulo': 'Número de observaciones', 'descripcion': '318'},
   {'titulo': 'Primer valor', 'descripcion': '[Ene 1999] 3,062 %'},
   {'titulo': 'Último valor', 'descripcion': '[Jun 2025] 2,081 %'},
   {'titulo': 'Valor mínimo', 'descripcion': '[Ene 2021] -0,505 %'},
   {'titulo': 'Valor máximo', 'descripcion': '[Jul 2008] 5,393 %'},
   {'titulo': 'Fuente',
    'descripcion': 'EURIBOR European Banking Federation\nACI Asociación de Mercados Financieros\nBanco Central Europeo'},
   {'titulo': 'Notas',
    'descripcion': 'Tipo de oferta de los depósitos interbancarios en el área del euro correspondientes a 57 de los bancos más activos del área.\nHasta diciembre de 1998 tipo sintético calculado ponderando los tipos nacionales por el Producto Interior Bruto.'},
   {'titulo': 'Series relacionadas (cuadro pdf)',
    'descripcion': "<a href='https://www.bde.es/webbe/es/estadisticas/compartido/datos/pdf/a1901.pdf'>Descarga el cuadro en formato pdf con series relacionadas</a>"},
   {'titulo': 'Series relacionadas (archivo Excel)',
    'descripcion': "<a href='https://www.bde.es/webbe/es/estadisticas/compartido/datos/xlsx/be1901.xlsx'>Descarga el archivo Excel con series relacionadas</a>"}],
  'fechaInicio': '1999-01-01T09:15:00Z',
  'fechaFin': '2025-06-01T08:15:00Z',
  'fechas': ['2025-06-01T08:15:00Z',
   '2025-05-01T08:15:00Z',
   '2025-04-01T08:15:00Z',
   '2025-03-01T09:15:00Z',
   '2025-02-01T09:15:00Z',
   '2025-01-01T09:15:00Z',
   '2024-12-01T09:15:00Z',
   '2024-11-01T09:15:00Z',
   '2024-10-01T08:15:00Z',
   '2024-09-01T08:15:00Z',
   '2024-08-01T08:15:00Z',
   '2024-07-01T08:15:00Z',
   '2024-06-01T08:15:00Z',
   '2024-05-01T08:15:00Z',
   '2024-04-01T08:15:00Z',
   '2024-03-01T09:15:00Z',
   '2024-02-01T09:15:00Z',
   '2024-01-01T09:15:00Z',
   '2023-12-01T09:15:00Z',
   '2023-11-01T09:15:00Z',
   '2023-10-01T08:15:00Z',
   '2023-09-01T08:15:00Z',
   '2023-08-01T08:15:00Z',
   '2023-07-01T08:15:00Z',
   '2023-06-01T08:15:00Z',
   '2023-05-01T08:15:00Z',
   '2023-04-01T08:15:00Z',
   '2023-03-01T09:15:00Z',
   '2023-02-01T09:15:00Z',
   '2023-01-01T09:15:00Z',
   '2022-12-01T09:15:00Z'],
  'valores': [2.081,
   2.081,
   2.143,
   2.398,
   2.407,
   2.525,
   2.436,
   2.506,
   2.691,
   2.936,
   3.166,
   3.526,
   3.65,
   3.68,
   3.703,
   3.718,
   3.671,
   3.609,
   3.679,
   4.022,
   4.16,
   4.149,
   4.073,
   4.149,
   4.007,
   3.862,
   3.757,
   3.647,
   3.534,
   3.337,
   3.018]}]